/* copied from chrome://global/skin/about.css */

html {
  background: -moz-Dialog;
}

body {
  margin: 0;
  color: -moz-FieldText;
  font: message-box;
}

.corpus {
  margin: 2em;
  border: 1px solid ThreeDShadow;
  -moz-border-radius: 10px;
  padding: 1em;
  background: -moz-Field;
  width: 30em;
}

.stats_table {
  margin-top: 1em;
  border-spacing: 1em 0;
}

tr {
  font: message-box;
}

ul {
  margin: 0;
  -moz-margin-start: 1.5em;
  padding: 0;
  list-style: square;
}

ul > li {
  margin-top: .5em;
}

a {
  color: #F0F;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  vertical-align: middle;
  margin-right: 1em;
}

.head {
  font-size: x-large;
  font-weight: bold;
}

.shead {
  font-size: large;
  font-weight: bold;
}
